<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<ul class="nav nav-tabs flex-column flex-md-row justify-content-center">
				<li class="nav-item mb-1 text-center">
					<a class="nav-link" id="home" routerLink="">Home</a>
				</li>
				<li class="nav-item mb-1 text-center">
					<a class="nav-link" id="add" routerLink="add">+</a>
				</li>
				<li class="nav-item mb-1 text-center">
					<a class="nav-link" id="substract" routerLink="sub">-</a>
				</li>
				<li class="nav-item mb-1 text-center">
					<a class="nav-link" id="multiply" routerLink="mul">X</a>
				</li>
				<li class="nav-item mb-1 text-center">
					<a class="nav-link" id="divide" routerLink="div">/</a>
				</li>
				<li class="nav-item mb-1 text-center">
					<a class="nav-link" id="about" routerLink="/about">About</a>
				</li>
			</ul>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>