<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<ul class="nav nav-tabs">
				<li class="nav-item mb-1 me-5 ms-auto">
					<a class="nav-link" id="home" routerLink="">Home</a>
				</li>
				<li class="nav-item mb-1 me-2">
					<a class="nav-link" id="add" routerLink="add">+</a>
				</li>
				<li class="nav-item mb-1 me-2">
					<a class="nav-link" id="substract" routerLink="sub">-</a>
				</li>
				<li class="nav-item mb-1 me-2">
					<a class="nav-link" id="multiply" routerLink="mul">X</a>
				</li>
				<li class="nav-item mb-1 me-5">
					<a class="nav-link" id="divide" routerLink="div">/</a>
				</li>
				<li class="nav-item mb-1 me-auto">
					<a class="nav-link" id="about" routerLink="/about">About</a>
				</li>
			</ul>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>