<div class="row">
	<div class="col-md-8 offset-md-2">
		<p class="mt-4 text-center" style="font-size: 1.5rem;">
			You're in div section
		</p>

		<div>
			<label class="col-form-label" for="inputDefault">Write number 1</label>
			<input type="number" class="form-control" placeholder="e.g. : 1" id="inputDefault" [(ngModel)]="num1">
		</div>
		<div>
			<label class="col-form-label mt-4" for="inputDefault">Write number 2</label>
			<input type="number" class="form-control" placeholder="e.g. : 2" id="inputDefault" [(ngModel)]="num2">
		</div>
		<div class="row">
			<div class="col text-center">
				<button type="button" class="btn btn-dark mt-4" (click)="div()">Calculate!</button>
			</div>
		</div>
		<p class="mt-4 text-center" style="font-size: 1.5rem;">
			Result
			<br>
			<i class="fa-solid fa-arrow-down"></i>
			<br>
			{{result}}
		</p>
	</div>
</div>