<div class="row">
	<div class="col-md-8 offset-md-2">
		<p class="mt-4 text-center" style="font-size: 1.5rem;">
			You're in add section
		</p>
		<div>
			<label class="col-form-label" for="inputDefault">Write number 1</label>
			<input type="text" class="form-control" placeholder="e.g. : 1" id="inputDefault">
		</div>
		<div>
			<label class="col-form-label mt-4" for="inputDefault">Write number 2</label>
			<input type="text" class="form-control" placeholder="e.g. : 2" id="inputDefault">
		</div>
		<div class="row">
			<div class="col text-center">
				<button type="button" class="btn btn-dark mt-4">Calculate!</button>
			</div>
		</div>
	</div>
</div>